.main__favorite_coffee {
  margin-top: 100px;
  min-height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include media-mobile {
    min-height: 696px;
  }

  .favorite__title {
    text-align: center;
    margin-bottom: 40px;
  }

  .favorite_coffee__slider {
    min-height: 684px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include media-mobile {
      min-height: 577px;
    }

    .slider__content {
      max-width: 480px;
      align-self: stretch;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @include media-tablet {
        max-width: 69.8%;
      }
      @include media-mobile {
        max-width: 100%;
      }

      .slider__content__blocks {
        display: flex;
        text-align: center;
        overflow: hidden;
        margin-bottom: 40px;
        @include media-mobile {
          width: 100%;
        }
        
        .block {
          width: 100%;
          flex-shrink: 0;

          .slider__images {
            height: 480px;
            width: 100%;
            @include media-mobile {
              height: 348px;
              background-size: cover;
            }
          }

          .slider__text {
            margin-top: 20px;

            .slider__text__description {
              margin-top: 16px;
              margin-bottom: 16px;
            }

            .slider__text__price {
              @include font ($size: 2.4rem, $height: 125%, $weight: 600);
            }
          }
        }

        .slider_1 > .slider__images {
          background-image: url(../img/slider/coffee-slider-1.png);
          background-position: center;
          background-repeat: no-repeat;
        }

        .slider_2 > .slider__images {
          background: url(../img/slider/coffee-slider-2.png) no-repeat center;
        }

        .slider_3 > .slider__images {
          background: url(../img/slider/coffee-slider-3.png) no-repeat center;
        }
      }

      .slider__content__control {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        align-self: center;
        width: 144px;
        height: 4px;

        .slider__content__control__button {
          width: 40px;
          background-color: $color-border-light;
        }

        .current {
          background-color: $color-border-dark;
        }
      }
    }
  }
}