.main__enjoy {
  position: relative;
  margin-top: 20px;
  overflow: hidden;
  border-radius: 40px;

  .enjoy__background {
    position: absolute;
    z-index: 0;
    top: -10%;
    width: 100%;
  }

  .enjoy__content {
    position: relative;
    z-index: 1;
    height: 644px;
    padding: 100px;
    width: 730px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .enjoy__content__title {
      color: $color-text-light;
    }

    .enjoy__content__text {
      color: $color-text-light;
    }
  }
}