.menu {
  display: flex;
  flex-direction: column;
  align-items: center;

  .menu__headline {
    margin-top: 20px;
    text-align: center;
    width: 58.8%;
    @include media-tablet {
      width: 100%;
    }
  }

  .menu__radio_box {
    width: 361px;
    min-height: 46px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    @include media-mobile {
      width: 100%;
      flex-wrap: wrap;
    }

    .radio_box__button {
      display: flex;

      .radio {
        display: none;
  
        &:checked + .radio__label {
          background-color: $color-background-container;
          cursor: default;
          color: $color-text-light;

          .label_icon {
            background-color: $color-background-body;
          }
        }
      }
  
      .radio__label {
        display: flex;
        align-items: center;
        @include font ($size: 1.6rem, $height: 150%, $weight: 600);
        cursor: pointer;
        border: 1px solid $color-border-light;
        border-radius: 100px;
        padding-right: 16px;
        padding-left: 8px;
  
        /*  */
        
        .label_icon {
          width: 30px;
          height: 30px;
          margin-right: 8px;
          border-radius: 100px;
          background-color: $color-border-light;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }

  .menu__product {
    align-self: stretch;
    margin-top: 40px;
    min-height: 1052px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    @include media-tablet {
      .product__content:nth-child(n + 5) {
        display: none;
      }
    }
    @include media-mobile {
      justify-content: center;
      min-height: 2144px;
    }

    .product__content {
      /* margin-bottom: 40px; */
      width: 23.1%;
      min-height: 48.1%;
      border-radius: 40px;
      border: 1px solid $color-border-light;
      display: flex;
      flex-direction: column;
      cursor: pointer;
      @include media-tablet {
        width: 45.1%;
      }
      @include media-mobile {
        width: 89.1%;
      }

      .product__content__image {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        border-radius: 40px;
        height: 310px;

        img {
          transform: scale(1.1);
        }
      }

      .product__content__description {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 196px;
        width: 100%;

        .description__content__text {
          margin-top: 12px;
        }
      }
    }

    @media (hover: hover) {
      .product__content:hover {
        img {
          transform: scale(1.0);
        }
      }

      .radio__label:hover {
        background-color: $color-background-container;
        color: $color-text-light;

        .label_icon {
          background-color: $color-background-body;
        }
      }
    }
  
    @media (hover: none) {
      .product__content:active {
        img {
          transform: scale(1.0);
        }
      }
    }
  }

  .menu__update {
    margin-top: 40px;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    border: 1px solid $color-border-dark;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    display: none;
    @include media-tablet {
      display: flex;
    }
  }

  
  @media (hover: hover) {
    .menu__update:hover {
      path {
        stroke: $color-background-body;
      }
      background-color: $color-border-dark;
    }
  }
  
  @media (hover: none) {
    .menu__update:active {
      path {
        stroke: $color-background-body;
      }
      background-color: $color-border-dark;
    }
  }
}