.menu__pop_up {
  position: absolute;
  top: calc(50%);
  left: calc(50%);
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 800px;
  min-height: 504px;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  border-radius: 40px;
  background-color: $color-background-body;
  display: none;
  @include media-mobile {
    max-width: 342px;
  }

  .pop_up__image {
    width: 310px;
    height: 310px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 40px;
    @include media-mobile {
      display: none;
    }

    img {
      transform: scale(1.1);
    }
  }

  .pop_up__description {
    width: 438px;
    min-height: 472px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include media-tablet {
      width: 326px;
    }

    .basic__title {
      margin-bottom: 12px;
    }

    .basic__text {
      margin-bottom: 20px;
    }

    .radio__title {
      margin-bottom: 8px;
    }

    .pop_up__description__radio {
      margin-bottom: 20px;

      .menu__radio_box {
        width: 100%;
        min-height: 46px;
        display: flex;
        align-items: stretch;
        @include media-tablet {
          flex-wrap: wrap;
          min-height: 100px;
          align-content: space-between;
        }
  
        .radio_box__button:nth-child(n + 2) {
          margin-left: 8px;
        }

        .radio_box__button:last-child {
          @include media-tablet {
            margin-left: 0px;
          }
        }
        
        .radio_box__button {
          display: flex;
          @include media-tablet {
            height: 46px;
          }
    
          .radio {
            display: none;
      
            &:checked + .radio__label {
              background-color: $color-background-container;
              cursor: default;
              color: $color-text-light;
    
              .label_icon {
                background-color: $color-background-body;
              }
            }
          }
      
          .radio__label {
            display: flex;
            align-items: center;
            @include font ($size: 1.6rem, $height: 150%, $weight: 600);
            cursor: pointer;
            border: 1px solid $color-border-light;
            border-radius: 100px;
            padding-right: 16px;
            padding-left: 8px;
            
            .label_icon {
              width: 30px;
              height: 30px;
              margin-right: 8px;
              border-radius: 100px;
              background-color: $color-border-light;
              display: flex;
              justify-content: center;
              align-items: center;
              color: $color-text-dark;
            }
          }
        }
      }
    }
  }

  .pop_up__description__price {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .pop_up__description__extra {
    position: relative;
    padding: 12px 0;
    @include font ($size: 1rem, $height: 140%, $weight: 600);
    display: flex;
    border-top: 1px solid $color-border-light;
    margin-bottom: 20px;

    .extra__image {
      width: 16px;
      height: 16px;
      background: url(../img/icons/info.svg) no-repeat center;
      flex-shrink: 0;
      margin-right: 8px;
    }
  }

  .pop_up__description__button {
    height: 44px;
    @include font ($size: 1.6rem, $height: 150%, $weight: 600);
    border-radius: 100px;
    border: 1px solid $color-border-dark;
    background-color: $color-background-body;
    cursor: pointer;
    color: $color-text-dark;
  }
}

@media (hover: hover) {
  .pop_up__image:hover {
    img {
      transform: scale(1.0);
    }
  }

  .radio__label:hover {
    background-color: $color-background-container;
    color: $color-text-light;

    .label_icon {
      background-color: $color-background-body;
    }
  }

  .pop_up__description__button:hover {
    background-color: $color-border-dark;
    color: $color-text-light;
  }
}

@media (hover: none) {
  .pop_up__image {
    img {
      transform: scale(1.0);
    }
  }

  .pop_up__description__button:active {
    background-color: $color-border-dark;
    color: $color-text-light;
  }
}