.game {
  font-size: 3rem;
  margin: auto;
  border: 4px solid black;
  border-collapse: collapse;

  @include media-tablet {

  }

  .game__row {
    &:nth-child(5n + 1) {
      border-bottom: 4px solid black;
    }

    &:first-child {
      border-bottom: 4px solid black;
    }

    &:last-child {
      border-bottom: 1px solid black;
    }

    .row__data {
      border: 1px solid black;

      &:nth-child(5n + 1) {
        border-right: 4px solid black;
      }

      &:first-child {
        border-right: 4px solid black;
      }

      &:last-child {
        border-right: 1px solid black;
      }
    }
  }
}

.top-key {
  vertical-align: bottom;
}

.left-key__container {
  display: flex;
  justify-content: flex-end;
}

.key {
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.brill {
  background-color: #000000;
}