.content__game {
  position: relative;
  font-size: 3rem;
  margin: auto;
  margin-bottom: 40px;
  border: 5px solid black;
  border-collapse: collapse;

  @include media-tablet {

  }

  &.night {
    border-color: #ffffff;
    color: #ffffff;
  }

  .solution__block {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .game__row {
    &:nth-child(5n + 1) {
      border-bottom: 5px solid black;
    }

    &:first-child {
      border-bottom: 5px solid black;
    }

    &:last-child {
      border-bottom: 1px solid black;
    }

    .row__data[data-click] {
      cursor: pointer;

      span {
        position: absolute;
        width: 100%;
        height: 0px;
        background-color: #000000;
      }

      &.night {
        span {
          background-color: #ffffff;
        }
      }
    
      &.active {
        span {
          height: 1px;
          transform: scale(0);
    
          &:first-child {
            transform: rotate(-45deg);
            top: calc(50% - 1px);
          }
    
          &:last-child {
            bottom: calc(50% - 1px);
            transform: rotate(45deg);
          }
        }
      }
    }

    .row__data {
      position: relative;
      border: 1px solid black;

      &:nth-child(5n + 1) {
        border-right: 5px solid black;
      }

      &:first-child {
        border-right: 5px solid black;
      }

      &:last-child {
        border-right: 1px solid black;
      }

      &.night {
        border-color: #ffffff;
      }
    }

    &.night {
      border-color: #ffffff;
    }
  }
}

.top-key {
  vertical-align: bottom;
}

.left-key__container {
  display: flex;
  justify-content: flex-end;
}

.key {
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.brill {
  background-color: #000000;

  &.night {
    background-color: #ffffff;
  }
}

.content__button {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}