.main__enjoy {
  position: relative;
  margin-top: 20px;
  overflow: hidden;
  border-radius: 40px;

  .enjoy__background {
    position: absolute;
    z-index: 0;
    width: 1360px;
    height: auto;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include media-mobile {
      top: 40%;
    }
  }

  .enjoy__content {
    position: relative;
    z-index: 1;
    min-height: 644px;
    padding: 100px;
    width: 730px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include media-tablet {
      width: 100%;
      padding: 100px 60px;
    }
    @include media-mobile {
      top: 40%;
      padding: 60px 16px;
      width: 348px;
      min-height: 552px;
    }

    .enjoy__content__title {
      color: $color-text-light;
    }

    .enjoy__content__text {
      color: $color-text-light;
    }
  }
}