.footer .footer__wrapper .contact__content .contact__content__text .map:after,
.footer .footer__wrapper .contact__content .contact__content__text .telephone:after, .header__wrapper .header__navigation_button .header__menu-link:after, .header__wrapper .header__navigation_button .header__navigation .navigation .navigation__item .navigation__item__link:after {
  content: "";
  display: block;
  position: absolute;
  align-self: flex-end;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  background-color: #403F3D;
  transition: width 0.3s ease-out;
}
@media (hover: hover) {
  .footer .footer__wrapper .contact__content .contact__content__text .map:hover:after,
  .footer .footer__wrapper .contact__content .contact__content__text .telephone:hover:after, .header__wrapper .header__navigation_button .header__menu-link:hover:after, .header__wrapper .header__navigation_button .header__navigation .navigation .navigation__item .navigation__item__link:hover:after {
    width: 100%;
  }
}
@media (hover: none) {
  .footer .footer__wrapper .contact__content .contact__content__text .map:active:after,
  .footer .footer__wrapper .contact__content .contact__content__text .telephone:active:after, .header__wrapper .header__navigation_button .header__menu-link:active:after, .header__wrapper .header__navigation_button .header__navigation .navigation .navigation__item .navigation__item__link:active:after {
    width: 100%;
  }
}
.footer .footer__wrapper .contact__content .contact__content__text .map:focus:after,
.footer .footer__wrapper .contact__content .contact__content__text .telephone:focus:after, .header__wrapper .header__navigation_button .header__menu-link:focus:after, .header__wrapper .header__navigation_button .header__navigation .navigation .navigation__item .navigation__item__link:focus:after {
  width: 100%;
}
.footer .footer__wrapper .contact__content .contact__content__text .map:visited,
.footer .footer__wrapper .contact__content .contact__content__text .telephone:visited, .header__wrapper .header__navigation_button .header__menu-link:visited, .header__wrapper .header__navigation_button .header__navigation .navigation .navigation__item .navigation__item__link:visited {
  color: #403F3D;
}
.footer .footer__wrapper .contact__content .contact__content__text .map:hover,
.footer .footer__wrapper .contact__content .contact__content__text .telephone:hover, .header__wrapper .header__navigation_button .header__menu-link:hover, .header__wrapper .header__navigation_button .header__navigation .navigation .navigation__item .navigation__item__link:hover {
  color: #403F3D;
}
.footer .footer__wrapper .contact__content .contact__content__text .map:active,
.footer .footer__wrapper .contact__content .contact__content__text .telephone:active, .header__wrapper .header__navigation_button .header__menu-link:active, .header__wrapper .header__navigation_button .header__navigation .navigation .navigation__item .navigation__item__link:active {
  color: #403F3D;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  margin: auto;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%;
  font-family: "Inter", sans-serif;
  background-color: #E1D4C9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: hidden;
}
body.block {
  overflow: hidden;
}

h1 {
  font-size: 7.2rem;
  font-weight: 600;
  line-height: 105%;
  font-family: "Inter", sans-serif;
}
@media (max-width: 380px) {
  h1 {
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 115%;
    font-family: "Inter", sans-serif;
  }
}

h2,
.menu__headline {
  font-size: 6rem;
  font-weight: 600;
  line-height: 125%;
  font-family: "Inter", sans-serif;
}
@media (max-width: 380px) {
  h2,
  .menu__headline {
    font-size: 3.2rem;
    font-weight: 600;
    line-height: 125%;
    font-family: "Inter", sans-serif;
  }
}

h3 {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 125%;
  font-family: "Inter", sans-serif;
}

.title-italy {
  font-style: italic;
  color: #B0907A;
}

.tab-item {
  width: 115px;
  height: 46px;
}

.button_primary {
  width: 200px;
  height: 64px;
  background-color: #E1D4C9;
  border: none;
  cursor: pointer;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #403F3D;
  font-weight: 600;
}
.button_primary .enjoy__content__button__icon {
  display: inline-block;
  width: 0px;
  height: 24px;
  background: url(../img/icons/coffee-cup.svg) no-repeat center -1px;
  transition: width 0.3s ease-out;
}
@media (max-width: 768px) {
  .button_primary .enjoy__content__button__icon {
    width: 20px;
    margin-left: 8px;
  }
}
.button_primary:active {
  color: #403F3D;
}

.arrow {
  width: 60px;
  height: 60px;
  border: 1px solid #665F55;
  background-color: #E1D4C9;
  border-radius: 100px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
@media (max-width: 380px) {
  .arrow {
    display: none;
  }
}

.button_secondary {
  width: 200px;
  height: 64px;
  background-color: #E1D4C9;
  border: 1px solid #665F55;
  cursor: pointer;
  border-radius: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 20px;
  padding-left: 20px;
  text-align: start;
}
.button_secondary .button_secondary__image {
  width: 36px;
  height: 36px;
  margin-right: 8px;
}
.button_secondary .button_secondary__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 40px;
}
.button_secondary .button_secondary__text .button_secondary__text__title {
  font-size: 1rem;
  font-weight: 600;
  line-height: 140%;
  font-family: "Inter", sans-serif;
}
.button_secondary .button_secondary__text .button_secondary__text__name {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 150%;
  font-family: "Inter", sans-serif;
}

@media (hover: hover) {
  .button_primary:hover {
    color: #403F3D;
  }
  .button_primary:hover .enjoy__content__button__icon {
    width: 20px;
    margin-left: 8px;
  }
  .arrow:hover {
    background-color: #665F55;
  }
  .arrow:hover .left {
    stroke: #E1D4C9;
  }
  .arrow:hover .right {
    stroke: #E1D4C9;
  }
  .button_secondary:hover {
    color: #E1D4C9;
    background-color: #665F55;
  }
  .button_secondary:hover .google {
    fill: #E1D4C9;
  }
  .button_secondary:hover .apple {
    fill: #E1D4C9;
  }
}
@media (hover: none) {
  .button_primary:active {
    color: #403F3D;
  }
  .arrow:active {
    background-color: #665F55;
  }
  .arrow:active .left {
    stroke: #E1D4C9;
  }
  .arrow:active .right {
    stroke: #E1D4C9;
  }
  .button_secondary:active {
    color: #E1D4C9;
    background-color: #665F55;
  }
  .button_secondary:active .google {
    fill: #E1D4C9;
  }
  .button_secondary:active .apple {
    fill: #E1D4C9;
  }
}
.wrapper {
  max-width: 1360px;
  margin: auto;
}
@media (max-width: 768px) {
  .wrapper {
    max-width: 688px;
  }
}
@media (max-width: 380px) {
  .wrapper {
    max-width: 348px;
  }
}

.header__wrapper {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  color: #403F3D;
  position: relative;
}
.header__wrapper .header__logo {
  width: 100px;
  height: 60px;
  flex-shrink: 0;
}
.header__wrapper .header__logo .logo__link {
  display: block;
  width: 100%;
  height: 100%;
  background: url(../img/icons/logo.svg) no-repeat center;
  background-size: 100%;
}
.header__wrapper .header__logo .home {
  cursor: default;
}
.header__wrapper .header__navigation_button {
  width: 894px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .header__wrapper .header__navigation_button {
    position: absolute;
    top: 80px;
    width: 100%;
    height: 100vh;
    padding: 60px 40px;
    z-index: 2;
    background-color: #E1D4C9;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    left: 100%;
  }
}
.header__wrapper .header__navigation_button.active {
  left: 0;
}
.header__wrapper .header__navigation_button .header__navigation {
  align-self: center;
  display: flex;
}
.header__wrapper .header__navigation_button .header__navigation .navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 456px;
  list-style: none;
}
@media (max-width: 768px) {
  .header__wrapper .header__navigation_button .header__navigation .navigation {
    flex-direction: column;
    height: 340px;
    margin-bottom: 100px;
  }
}
@media (max-width: 768px) {
  .header__wrapper .header__navigation_button .header__navigation .navigation .navigation__item {
    height: 40px;
    display: flex;
    align-items: center;
  }
}
.header__wrapper .header__navigation_button .header__navigation .navigation .navigation__item .navigation__item__link {
  position: relative;
  text-decoration: none;
  color: #403F3D;
}
@media (max-width: 768px) {
  .header__wrapper .header__navigation_button .header__navigation .navigation .navigation__item .navigation__item__link {
    font-size: 3.2rem;
    font-weight: 600;
    line-height: 125%;
    font-family: "Inter", sans-serif;
  }
}
.header__wrapper .header__navigation_button .header__navigation .navigation .navigation__item .navigation__item__link::after {
  width: 0;
}
.header__wrapper .header__navigation_button .header__menu-link {
  position: relative;
  display: flex;
  align-self: center;
  width: 72px;
  justify-content: space-between;
  text-decoration: none;
  color: #403F3D;
}
@media (max-width: 768px) {
  .header__wrapper .header__navigation_button .header__menu-link {
    font-size: 3.2rem;
    font-weight: 600;
    line-height: 125%;
    font-family: "Inter", sans-serif;
    width: 143px;
  }
}
.header__wrapper .header__navigation_button .header__menu-link::after {
  width: 0;
}
.header__wrapper .header__navigation_button .header__menu-link .menu-link__text {
  color: #403F3D;
}
.header__wrapper .header__navigation_button .header__menu-link .menu-link__icon {
  width: 20px;
  height: 20px;
  background: url(../img/icons/coffee-cup.svg) no-repeat center;
}
@media (max-width: 768px) {
  .header__wrapper .header__navigation_button .header__menu-link .menu-link__icon {
    width: 40px;
    height: 40px;
    background-size: cover;
  }
}

.header__wrapper .header__menu-link {
  cursor: default;
}
.header__wrapper .header__menu-link:after {
  width: 100%;
}

.footer {
  margin-top: 100px;
  margin-bottom: 40px;
}
.footer .footer__wrapper {
  padding: 100px;
  background-color: #665F55;
  border-radius: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .footer .footer__wrapper {
    padding: 100px 60px;
    flex-direction: column;
  }
}
@media (max-width: 380px) {
  .footer .footer__wrapper {
    padding: 60px 16px;
  }
}
.footer .footer__wrapper .contact__block {
  width: 100%;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .footer .footer__wrapper .contact__block {
    margin-bottom: 100px;
  }
}
@media (max-width: 380px) {
  .footer .footer__wrapper .contact__block {
    min-height: 180px;
    margin-bottom: 40px;
  }
}
.footer .footer__wrapper .contact__block .contact__block__title {
  color: #E1D4C9;
}
.footer .footer__wrapper .contact__block .contact__block__social_media {
  width: 204px;
  height: 60px;
  display: flex;
  justify-content: space-between;
}
.footer .footer__wrapper .contact__block .contact__block__social_media .social_media-link {
  width: 60px;
  height: 60px;
  border: 1px solid #C1B6AD;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .footer__wrapper .contact__block .contact__block__social_media .social_media-link:hover {
  background-color: #C1B6AD;
}
.footer .footer__wrapper .contact__block .contact__block__social_media .social_media-link:hover .instagram,
.footer .footer__wrapper .contact__block .contact__block__social_media .social_media-link:hover .twiter,
.footer .footer__wrapper .contact__block .contact__block__social_media .social_media-link:hover .facebook {
  stroke: #665F55;
}
.footer .footer__wrapper .contact__content {
  width: 100%;
  color: #E1D4C9;
  height: 186px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer .footer__wrapper .contact__content .contact__content__text {
  height: 116px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 150%;
  font-family: "Inter", sans-serif;
}
.footer .footer__wrapper .contact__content .contact__content__text .contact_us {
  height: 24px;
}
.footer .footer__wrapper .contact__content .contact__content__text .contact_us > img {
  margin-right: 8px;
}
.footer .footer__wrapper .contact__content .contact__content__text .map,
.footer .footer__wrapper .contact__content .contact__content__text .telephone {
  text-decoration: none;
  color: #E1D4C9;
  position: relative;
}
.footer .footer__wrapper .contact__content .contact__content__text .map:after,
.footer .footer__wrapper .contact__content .contact__content__text .telephone:after {
  background-color: #E1D4C9;
  width: 0;
}
.footer .footer__wrapper .contact__content .contact__content__text .map:visited,
.footer .footer__wrapper .contact__content .contact__content__text .telephone:visited {
  color: #E1D4C9;
}
.footer .footer__wrapper .contact__content .contact__content__text .map:active,
.footer .footer__wrapper .contact__content .contact__content__text .telephone:active {
  color: #E1D4C9;
}
@media (hover: hover) {
  .footer .footer__wrapper .contact__content .contact__content__text .map:hover,
  .footer .footer__wrapper .contact__content .contact__content__text .telephone:hover {
    color: #E1D4C9;
  }
}
@media (hover: none) {
  .footer .footer__wrapper .contact__content .contact__content__text .map:active,
  .footer .footer__wrapper .contact__content .contact__content__text .telephone:active {
    color: #E1D4C9;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu .menu__headline {
  margin-top: 20px;
  text-align: center;
  width: 58.8%;
}
@media (max-width: 768px) {
  .menu .menu__headline {
    width: 100%;
  }
}
.menu .menu__radio_box {
  width: 361px;
  min-height: 46px;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
@media (max-width: 380px) {
  .menu .menu__radio_box {
    width: 100%;
    flex-wrap: wrap;
  }
}
.menu .menu__radio_box .radio_box__button {
  display: flex;
}
.menu .menu__radio_box .radio_box__button .radio {
  display: none;
}
.menu .menu__radio_box .radio_box__button .radio:checked + .radio__label {
  background-color: #665F55;
  cursor: default;
  color: #E1D4C9;
}
.menu .menu__radio_box .radio_box__button .radio:checked + .radio__label .label_icon {
  background-color: #E1D4C9;
}
.menu .menu__radio_box .radio_box__button .radio__label {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 150%;
  font-family: "Inter", sans-serif;
  cursor: pointer;
  border: 1px solid #C1B6AD;
  border-radius: 100px;
  padding-right: 16px;
  padding-left: 8px;
  /*  */
}
.menu .menu__radio_box .radio_box__button .radio__label .label_icon {
  width: 30px;
  height: 30px;
  margin-right: 8px;
  border-radius: 100px;
  background-color: #C1B6AD;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu .menu__product {
  align-self: stretch;
  margin-top: 40px;
  min-height: 1052px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}
@media (max-width: 768px) {
  .menu .menu__product .product__content:nth-child(n+5) {
    display: none;
  }
}
@media (max-width: 380px) {
  .menu .menu__product {
    justify-content: center;
    min-height: 2144px;
  }
}
.menu .menu__product .product__content {
  /* margin-bottom: 40px; */
  width: 23.1%;
  min-height: 48.1%;
  border-radius: 40px;
  border: 1px solid #C1B6AD;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
@media (max-width: 768px) {
  .menu .menu__product .product__content {
    width: 45.1%;
  }
}
@media (max-width: 380px) {
  .menu .menu__product .product__content {
    width: 89.1%;
  }
}
.menu .menu__product .product__content .product__content__image {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 40px;
  height: 310px;
}
.menu .menu__product .product__content .product__content__image img {
  transform: scale(1.1);
}
.menu .menu__product .product__content .product__content__description {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 196px;
  width: 100%;
}
.menu .menu__product .product__content .product__content__description .description__content__text {
  margin-top: 12px;
}
@media (hover: hover) {
  .menu .menu__product .product__content:hover img {
    transform: scale(1);
  }
  .menu .menu__product .radio__label:hover {
    background-color: #665F55;
    color: #E1D4C9;
  }
  .menu .menu__product .radio__label:hover .label_icon {
    background-color: #E1D4C9;
  }
}
@media (hover: none) {
  .menu .menu__product .product__content:active img {
    transform: scale(1);
  }
}
.menu .menu__update {
  margin-top: 40px;
  width: 60px;
  height: 60px;
  border-radius: 100px;
  border: 1px solid #665F55;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  display: none;
}
@media (max-width: 768px) {
  .menu .menu__update {
    display: flex;
  }
}
@media (hover: hover) {
  .menu .menu__update:hover {
    background-color: #665F55;
  }
  .menu .menu__update:hover path {
    stroke: #E1D4C9;
  }
}
@media (hover: none) {
  .menu .menu__update:active {
    background-color: #665F55;
  }
  .menu .menu__update:active path {
    stroke: #E1D4C9;
  }
}

.burger_menu {
  cursor: pointer;
  position: relative;
  width: 44px;
  height: 44px;
  border: 1px solid #665F55;
  border-radius: 100px;
  display: none;
}
@media (max-width: 768px) {
  .burger_menu {
    display: block;
  }
}
.burger_menu span {
  position: absolute;
  width: 16px;
  height: 2px;
  background-color: #403F3D;
  left: calc(50% - 8px);
}
.burger_menu span:first-child {
  top: 17px;
}
.burger_menu span:last-child {
  bottom: 17px;
}
.burger_menu.active span {
  transform: scale(0);
}
.burger_menu.active span:first-child {
  transform: rotate(-45deg);
  top: calc(50% - 1px);
}
.burger_menu.active span:last-child {
  bottom: calc(50% - 1px);
  transform: rotate(45deg);
}

@media (hover: hover) {
  .burger_menu:hover {
    background-color: #665F55;
  }
  .burger_menu:hover span {
    background-color: #E1D4C9;
  }
}
@media (hover: none) {
  .burger_menu:active {
    background-color: #665F55;
  }
  .burger_menu:active span {
    background-color: #E1D4C9;
  }
}
.menu__pop_up {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 800px;
  min-height: 504px;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  border-radius: 40px;
  background-color: #E1D4C9;
  display: none;
}
@media (max-width: 380px) {
  .menu__pop_up {
    max-width: 342px;
  }
}
.menu__pop_up .pop_up__image {
  width: 310px;
  height: 310px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 40px;
}
@media (max-width: 380px) {
  .menu__pop_up .pop_up__image {
    display: none;
  }
}
.menu__pop_up .pop_up__image img {
  transform: scale(1.1);
}
.menu__pop_up .pop_up__description {
  width: 438px;
  min-height: 472px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .menu__pop_up .pop_up__description {
    width: 326px;
  }
}
.menu__pop_up .pop_up__description .basic__title {
  margin-bottom: 12px;
}
.menu__pop_up .pop_up__description .basic__text {
  margin-bottom: 20px;
}
.menu__pop_up .pop_up__description .radio__title {
  margin-bottom: 8px;
}
.menu__pop_up .pop_up__description .pop_up__description__radio {
  margin-bottom: 20px;
}
.menu__pop_up .pop_up__description .pop_up__description__radio .menu__radio_box {
  width: 100%;
  min-height: 46px;
  display: flex;
  align-items: stretch;
}
@media (max-width: 768px) {
  .menu__pop_up .pop_up__description .pop_up__description__radio .menu__radio_box {
    flex-wrap: wrap;
    min-height: 100px;
    align-content: space-between;
  }
}
.menu__pop_up .pop_up__description .pop_up__description__radio .menu__radio_box .radio_box__button:nth-child(n+2) {
  margin-left: 8px;
}
@media (max-width: 768px) {
  .menu__pop_up .pop_up__description .pop_up__description__radio .menu__radio_box .radio_box__button:last-child {
    margin-left: 0px;
  }
}
.menu__pop_up .pop_up__description .pop_up__description__radio .menu__radio_box .radio_box__button {
  display: flex;
}
@media (max-width: 768px) {
  .menu__pop_up .pop_up__description .pop_up__description__radio .menu__radio_box .radio_box__button {
    height: 46px;
  }
}
.menu__pop_up .pop_up__description .pop_up__description__radio .menu__radio_box .radio_box__button .radio {
  display: none;
}
.menu__pop_up .pop_up__description .pop_up__description__radio .menu__radio_box .radio_box__button .radio:checked + .radio__label {
  background-color: #665F55;
  cursor: default;
  color: #E1D4C9;
}
.menu__pop_up .pop_up__description .pop_up__description__radio .menu__radio_box .radio_box__button .radio:checked + .radio__label .label_icon {
  background-color: #E1D4C9;
}
.menu__pop_up .pop_up__description .pop_up__description__radio .menu__radio_box .radio_box__button .radio__label {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 150%;
  font-family: "Inter", sans-serif;
  cursor: pointer;
  border: 1px solid #C1B6AD;
  border-radius: 100px;
  padding-right: 16px;
  padding-left: 8px;
}
.menu__pop_up .pop_up__description .pop_up__description__radio .menu__radio_box .radio_box__button .radio__label .label_icon {
  width: 30px;
  height: 30px;
  margin-right: 8px;
  border-radius: 100px;
  background-color: #C1B6AD;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #403F3D;
}
.menu__pop_up .pop_up__description__price {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.menu__pop_up .pop_up__description__extra {
  position: relative;
  padding: 12px 0;
  font-size: 1rem;
  font-weight: 600;
  line-height: 140%;
  font-family: "Inter", sans-serif;
  display: flex;
  border-top: 1px solid #C1B6AD;
  margin-bottom: 20px;
}
.menu__pop_up .pop_up__description__extra .extra__image {
  width: 16px;
  height: 16px;
  background: url(../img/icons/info.svg) no-repeat center;
  flex-shrink: 0;
  margin-right: 8px;
}
.menu__pop_up .pop_up__description__button {
  height: 44px;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 150%;
  font-family: "Inter", sans-serif;
  border-radius: 100px;
  border: 1px solid #665F55;
  background-color: #E1D4C9;
  cursor: pointer;
  color: #403F3D;
}

@media (hover: hover) {
  .pop_up__image:hover img {
    transform: scale(1);
  }
  .radio__label:hover {
    background-color: #665F55;
    color: #E1D4C9;
  }
  .radio__label:hover .label_icon {
    background-color: #E1D4C9;
  }
  .pop_up__description__button:hover {
    background-color: #665F55;
    color: #E1D4C9;
  }
}
@media (hover: none) {
  .pop_up__image img {
    transform: scale(1);
  }
  .pop_up__description__button:active {
    background-color: #665F55;
    color: #E1D4C9;
  }
}

/*# sourceMappingURL=stylePage2.css.map */
