.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .main__field-help {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    align-items: center;

    .field-help__sound-help {
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      background-image: url('../../../model/images/icon/sound.svg');
      cursor: pointer;
      margin-bottom: 20px;
      width: 50px;
      height: 50px;

      
      &:hover {
        background-color: antiquewhite;
      }
    }
    
    .play {
      background-image: url('../../../model/images/icon/gif.gif');
    }

    .field-help__text-help {
      font-style: italic;
    }

    .hide {
      cursor: default;
      opacity: 0;
    }
  }

  .main__field-result {
    width: 768px;
    height: 400px;
    background-color: white;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;

    .field-result__line {
      width: 100%;
      height: 40px;
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
      color: rgba($color: #000000, $alpha: 0.0);

      .line__block {
        height: 100%;
      }

      .properly {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 38px;
        font-size: 1rem;
        background-color: aqua;
        color: rgba($color: #000000, $alpha: 1.0);
        clip-path: polygon(5% 50%, 0 0, 95% 0, 100% 50%, 95% 100%, 0 100%);
      }

      .properly:first-child {
        clip-path: polygon(0% 50%, 0 0, 95% 0, 100% 50%, 95% 100%, 0 100%);
      }

      .properly:last-child {
        clip-path: polygon(5% 50%, 0 0, 100% 0, 100% 50%, 100% 100%, 0 100%);
      }
    }
  }

  .main__field-total {
    position: absolute;
    z-index: -1;
    color: rgba($color: #000000, $alpha: 0.0);
  }

  .main__field-click {
    width: 600px;
    min-height: 150px;
    padding: 20px;
    background-color: white;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    .field-click__block {
      position: relative;
      cursor: pointer;
      background-color: aqua;
      height: 38px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1rem;
      clip-path: polygon(5% 50%, 0 0, 95% 0, 100% 50%, 95% 100%, 0 100%);
      
      &:hover {
        background-color: chartreuse;
      }
    }

    .first-item {
      clip-path: polygon(0% 50%, 0 0, 95% 0, 100% 50%, 95% 100%, 0 100%);
    }

    .last-item {
      clip-path: polygon(5% 50%, 0 0, 100% 0, 100% 50%, 100% 100%, 0 100%);
    }

    .selected {
      opacity: 0;
    }

    .wrong {
      border-top: 4px solid red;
      border-bottom: 4px solid red;
    }

    .right {
      border-top: 4px solid green;
      border-bottom: 4px solid green;
    }
  }

  .main__field-buttons {
    width: 250px;
    display: flex;
    justify-content: space-around;
  }
}

.display-none {
  display: none;
}