* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all .3s ease-out;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  position: relative;
  z-index: 1;
  margin: auto;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%;
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  min-height: 100vh;
  min-width: 100wh;
  background-color: #f0fdfa;
  padding-left: 20px;
}