$color-text-dark: #403F3D;
$color-text-light: #E1D4C9;
$color-text-accent: #B0907A;
$color-background-body: #E1D4C9;
$color-background-container: #665F55;
$color-background-backdrop: rgba(64, 63, 61, 0.80);
$color-border-light: #C1B6AD;
$color-border-dark: #665F55;

$content-width: 1360px;
$tablet-width: 688px;
$mobile-width: 348px;