%hover-link {
  &:after {
    content: "";
    display: block;
    position: absolute;
    align-self: flex-end;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: $color-text-dark;
    transition: width 0.3s ease-out;
  }
  @media (hover: hover) {
    &:hover:after {
      width: 100%;
    }
  }

  @media (hover: none) {
    &:active:after {
      width: 100%;
    }
  }
  
  &:focus:after {
    width: 100%;
  }

  &:visited {
    color: $color-text-dark;
  }

  &:hover {
    color: $color-text-dark;
  }

  &:active {
    color: $color-text-dark;
  }
}