* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
  font-family: Roboto, sans-serif;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
html.block {
  overflow-y: hidden;
}

body {
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  min-height: 100vh;
  justify-content: center;
  padding: 20px;
  max-width: 1440px;
}
body.block {
  overflow: hidden;
}

h1 {
  font-size: 5rem;
  text-align: center;
  margin-bottom: 50px;
}
@media (max-width: 360px) {
  h1 {
    margin-bottom: 20px;
    font-size: 3rem;
  }
}

h2 {
  font-size: 7rem;
  text-align: center;
  color: white;
  margin: 20px;
}
@media (max-width: 360px) {
  h2 {
    font-size: 4rem;
  }
}

.content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  min-height: 500px;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .content {
    flex-direction: column-reverse;
    align-items: center;
  }
}

.hangman {
  width: 50%;
  min-height: 500px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 500px) {
  .hangman {
    width: 100%;
  }
}
.hangman .hangman__gallows {
  position: absolute;
  top: 0;
  left: 0;
  height: 512px;
  width: 300px;
  background: url(../img/hangman/gallows.svg) no-repeat center;
  background-size: contain;
}
@media (max-width: 360px) {
  .hangman .hangman__gallows {
    height: 250px;
    width: 150px;
    background-position: 0 0;
  }
}
.hangman .hangman__head {
  position: absolute;
  top: 125px;
  left: 210px;
  width: 90px;
  height: 90px;
  background: url(../img/hangman/head.svg) no-repeat center;
  background-size: contain;
}
@media (max-width: 360px) {
  .hangman .hangman__head {
    top: 63px;
    left: 106px;
    width: 45px;
    height: 45px;
  }
}
.hangman .hangman__body {
  position: absolute;
  top: 217px;
  left: 252px;
  width: 10px;
  height: 150px;
  background: url(../img/hangman/body.svg) no-repeat center;
  background-size: contain;
}
@media (max-width: 360px) {
  .hangman .hangman__body {
    top: 107px;
    left: 123px;
    height: 75px;
  }
}
.hangman .hangman__hand-one {
  position: absolute;
  top: 215px;
  left: 190px;
  width: 70px;
  height: 70px;
  background: url(../img/hangman/hand-one.svg) no-repeat center;
  background-size: contain;
}
@media (max-width: 360px) {
  .hangman .hangman__hand-one {
    top: 108px;
    left: 95px;
    width: 35px;
    height: 35px;
  }
}
.hangman .hangman__hand-two {
  position: absolute;
  top: 215px;
  left: 255px;
  width: 70px;
  height: 70px;
  background: url(../img/hangman/hand-two.svg) no-repeat center;
  background-size: contain;
}
@media (max-width: 360px) {
  .hangman .hangman__hand-two {
    top: 108px;
    left: 127px;
    width: 35px;
    height: 35px;
  }
}
.hangman .hangman__leg-one {
  position: absolute;
  top: 367px;
  left: 190px;
  width: 70px;
  height: 70px;
  background: url(../img/hangman/leg-one.svg) no-repeat center;
  background-size: contain;
}
@media (max-width: 360px) {
  .hangman .hangman__leg-one {
    top: 180px;
    left: 95px;
    width: 35px;
    height: 35px;
  }
}
.hangman .hangman__leg-two {
  position: absolute;
  top: 367px;
  left: 255px;
  width: 70px;
  height: 70px;
  background: url(../img/hangman/hand-two.svg) no-repeat center;
  background-size: contain;
}
@media (max-width: 360px) {
  .hangman .hangman__leg-two {
    top: 180px;
    left: 127px;
    width: 35px;
    height: 35px;
  }
}
.hangman .display-none {
  display: none;
}

.crossword {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  gap: 20px;
}
@media (max-width: 768px) {
  .crossword {
    width: 100%;
    margin-bottom: 20px;
  }
}
.crossword .crossword__answer {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 10px;
  font-size: 4rem;
}
@media (max-width: 360px) {
  .crossword .crossword__answer {
    font-size: 2rem;
  }
}
.crossword .crossword__question {
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
  font-size: 2.5rem;
  gap: 10px;
}
@media (max-width: 360px) {
  .crossword .crossword__question {
    font-size: 2rem;
  }
}
.crossword .crossword__question .question__current {
  font-weight: 700;
}
.crossword .crossword__miss {
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
  font-size: 2.5rem;
  gap: 10px;
}
@media (max-width: 360px) {
  .crossword .crossword__miss {
    font-size: 2rem;
  }
}
.crossword .crossword__miss .miss__current {
  color: red;
}
.crossword .crossword__keyboard {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
.crossword .crossword__keyboard .keyboard__letter {
  font-size: 5rem;
  cursor: pointer;
  width: 6rem;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7e22ce;
  color: white;
  border-radius: 10px;
}
@media (max-width: 360px) {
  .crossword .crossword__keyboard .keyboard__letter {
    font-size: 2rem;
    width: 5rem;
    height: 5rem;
  }
}
@media (hover: hover) {
  .crossword .crossword__keyboard .keyboard__letter:hover {
    background-color: #c084fc;
  }
}
.crossword .crossword__keyboard .pressing {
  background-color: #c084fc;
  cursor: default;
}

.modal {
  position: fixed;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #3b0764;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  padding: 20px;
}
.modal .modal__answer {
  font-size: 3rem;
  margin-bottom: 20px;
}
@media (max-width: 360px) {
  .modal .modal__answer {
    font-size: 2rem;
  }
}
.modal.display-none {
  display: none;
}

.backdrop {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(64, 63, 61, 0.8);
  z-index: 2;
}
.backdrop.display-none {
  display: none;
}

.modal__button {
  margin-bottom: 20px;
  width: 200px;
  height: 64px;
  background-color: #1d4ed8;
  border: none;
  cursor: pointer;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-weight: 600;
  color: white;
  font-size: 3rem;
}
@media (max-width: 360px) {
  .modal__button {
    font-size: 2rem;
  }
}

@media (hover: hover) {
  .modal__button:hover {
    background-color: #60a5fa;
  }
}

/*# sourceMappingURL=style.css.map */
