.main__header {
  background-color: #eef2ff;
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
  border: 1px solid #000000;
  flex-wrap: wrap;
  margin-bottom: 20px;

  @media (max-width: 768px) {
    flex-direction: column;
  }
  
  .header__name {
    @media (max-width: 768px) {
      order: -1;
      margin-bottom: 10px;
    }
  }

  .header__buttons {
    width: 250px;
    display: flex;
    justify-content: space-around;
  }
}
