.header__wrapper  {

  .header__navigation {

    .navigation {
  
      .navigation__item__link {
        cursor: default;
      }
    }
  }

  .header__menu-link {
    cursor: default;
  }

  .header__menu-link::after {
    width: 100%;
  }
}