.content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  min-height: 500px;
  margin-bottom: 20px;

  @include media-tablet {
    flex-direction: column-reverse;
    align-items: center;
  }
}