* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all .3s ease-out;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  margin: auto;

  @include font ($size: 1.6rem, $height: 150%, $weight: 400);
  background-color: $color-background-body;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  @include font ($size: 7.2rem, $height: 105%, $weight: 600);
  @include media-mobile {
    @include font ($size: 4.2rem, $height: 115%, $weight: 600);
  }
}

h2,
.menu__headline {
  @include font ($size: 6rem, $height: 125%, $weight: 600);
  @include media-mobile {
    @include font ($size: 3.2rem, $height: 125%, $weight: 600);
  }
}

h3 {
  @include font ($size: 2.4rem, $height: 125%, $weight: 600);
}

a {
  @include media-tablet {
    @media (hover: none) {
      
    }
  }
}

.title-italy {
  font-style: italic;
  color: $color-text-accent;
}